.slider[b-zex3u5vgjh] {
    width: 100%;
    max-width: 900px;
    height: 400px;
    position: relative;
    margin: 2rem auto;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.slides[b-zex3u5vgjh] {
    width: 500%;
    height: 100%;
    display: flex;
}

    .slides input[b-zex3u5vgjh] {
        display: none;
    }

.slide[b-zex3u5vgjh] {
    width: 20%;
    transition: 0.6s;
}

    .slide img[b-zex3u5vgjh] {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.navigation-manual[b-zex3u5vgjh] {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.manual-btn[b-zex3u5vgjh] {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

    .manual-btn:hover[b-zex3u5vgjh] {
        background: #fff;
    }

/* Slide control */
#img-1:checked ~ .first[b-zex3u5vgjh] {
    margin-left: 0;
}

#img-2:checked ~ .first[b-zex3u5vgjh] {
    margin-left: -100%;
}

#img-3:checked ~ .first[b-zex3u5vgjh] {
    margin-left: -200%;
}

#img-4:checked ~ .first[b-zex3u5vgjh] {
    margin-left: -300%;
}
