@inherits LayoutComponentBase

<PageTitle>Mark</PageTitle>



    <main>
        <ul>
            <li><a href="Video">Video</a></li>
            <li><a href="Music">Music</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="Profile">Portfolio</a></li>
            <li><a href="/">Home</a></li>
        <li><a href="https://www.facebook.com/marklesterignacio2021">Contact</a></li>
        </ul>

        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>



        <article class="content px-4">
            @Body
        </article>
    </main>

<div>
    <ul>
        <li><a href="https://twitter.com/julesforrest">Twitter</a></li>
        <li><a href="https://codepen.io/julesforrest">Codepen</a></li>
        <li><a href="mailto:julesforrest@gmail.com">Email</a></li>
        <li><a href="https://dribbble.com/julesforrest">Dribbble</a></li>
        <li><a href="https://github.com/marklesterignacio">Github</a></li>
        <li>
            <p>👋</p>
        </li>
    </ul>
</div>