@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<style>
  h1  {
      color: white;
    }
</style>

<q>We’re excited to have you here! At Ignacio_WEB, we to save west philippines sea. Explore our my resources is Secret basi asset :) and let us know if you have any questions. Your feedback is valuable to us.

Thank you for visiting, and we hope you enjoy your experience! Best regards,

@**@
@**@
@**@
@**@
@**@
Im Am Bryan Lester Ignacio 
</q>

<style>
    q {
        color: white;
    }
</style>

