@page "/Picture"

<h3>Static External Image</h3>

<img src="https://www.google.com/imgres?q=picture&imgurl=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fthumbnails%2F009%2F273%2F280%2Fsmall%2Fconcept-of-loneliness-and-disappointment-in-love-sad-man-sitting-element-of-the-picture-is-decorated-by-nasa-free-photo.jpg&imgrefurl=https%3A%2F%2Fwww.vecteezy.com%2Ffree-photos%2Fpicture&docid=wska7sM6RxRdCM&tbnid=dxDcd4FEOxMQMM&vet=12ahUKEwjd67nx36uIAxWRnK8BHS88HiAQM3oECFYQAA..i&w=300&h=200&hcb=2&ved=2ahUKEwjd67nx36uIAxWRnK8BHS88HiAQM3oECFYQAA" alt="Static Image" width="600" />
