

@page "/Picture"
<h3>Picture</h3>
<div class="image-container">
    <img width="451" height="315" src="https://www.shutterstock.com/shutterstock/photos/2374532105/display_1500/stock-photo-marikina-ph-sept-suzuki-raider-at-beast-of-the-east-car-and-motor-show-on-september-2374532105.jpg"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"


</div>

<style>
    .image-container {
        text-align: center;
        margin-top: 20px;
    }

    .responsive-image {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
</style>
<div class="image-container">
    <img width="451" height="315" src="https://www.kawasaki.com/Content/Images/SubBrand/2024-ninja/my24_ninja_zx_4r_abs.png"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"


</div>

<style>
    .image-container {
        text-align: center;
        margin-top: 20px;
    }

    .responsive-image {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
</style>
<div class="image-container">
    <img width="451" height="315" src="https://imgcdn.zigwheels.ph/large/gallery/color/83/1892/suzuki-raider-r150-fi-color-176918.jpg"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"


</div>

<style>
    .image-container {
        text-align: center;
        margin-top: 20px;
    }

    .responsive-image {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
</style>
<div class="image-container">
    <img width="451" height="315" src="https://imgcdn.zigwheels.ph/medium/gallery/exterior/83/3286/suzuki-raider-r150-carb-right-side-viewfull-image-414331.jpg"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"


</div>

<style>
    .image-container {
        text-align: center;
        margin-top: 20px;
    }

    .responsive-image {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
</style>
<div class="image-container">
    <img width="451" height="315" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa7W4ionYZHlXadI02cvTIU9UJ7SgIJq91Tw&s"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"


</div>

<style>
    .image-container {
        text-align: center;
        margin-top: 20px;
    }

    .responsive-image {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
</style>
