@page "/Video"


<iframe width="451" height="315" src="https://www.youtube.com/embed/c2JHvS0-qOg?si=-v6KFs54u40yU2hP"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/v9V9n7BvMm4?si=BWSNtiJn9i-sJo_J"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/bXZm0Pvm9EQ?si=NU9YHabGbDtm7b0t"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/HQ6TCJ7PLfE?si=p9ZYDw8R9xjajpep"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>

<h3></h3>

<iframe width="451" height="315" src="https://www.youtube.com/embed/KdNQjc3GNyE?si=6ochLcCeOP2PSZ7V"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>