@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

Welcome to Mark's Programming Portfolio
As a passionate student programmer, I’ve created this website to showcase my journey, projects, and growing expertise in software development.<br><br>
From web applications to problem-solving algorithms, my goal is to continuously learn, build, and share my progress with the world.